<a href="https://colab.research.google.com/github/Habib0308/Design-Analysis-Of-Algorithms/blob/master/Exploring%20Data/Data_Matrix_and_Frequency_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

## The Dataset I'm using is of **NBA Players**
Biometric, biographic and basic box score features from 1996 to 2019 season

In [2]:
url= "https://raw.githubusercontent.com/Habib0308/Statistics-for-Data-Science/master/Data/nba-players-data.csv"
df=pd.read_csv(url)
df.head()

   Unnamed: 0        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0      Dennis Rodman               CHI  ...   0.479    0.113  1996-97
1           1  Dwayne Schintzius               LAC  ...   0.430    0.048  1996-97
2           2       Earl Cureton               TOR  ...   0.376    0.148  1996-97
3           3        Ed O'Bannon               DAL  ...   0.399    0.077  1996-97
4           4        Ed Pinckney               MIA  ...   0.611    0.040  1996-97

[5 rows x 22 columns]

In [3]:
df.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

# **Data Matrix**
The dataframe represented above is a datamatrix that shows a representation of data that you want to study.

I'll Focus on some Variables/Columns.

In [4]:
df= df[["player_name","age","player_weight","college","country"]]
df.head()

         player_name   age  player_weight                      college country
0      Dennis Rodman  36.0      99.790240  Southeastern Oklahoma State     USA
1  Dwayne Schintzius  28.0     117.933920                      Florida     USA
2       Earl Cureton  39.0      95.254320                Detroit Mercy     USA
3        Ed O'Bannon  24.0     100.697424                         UCLA     USA
4        Ed Pinckney  34.0     108.862080                    Villanova     USA

## Observation
A row

## Summarizing Data
Frequency table

In [5]:
df['country'].value_counts()

USA                    9410
France                  153
Canada                  140
Spain                    79
Brazil                   78
                       ...
Guinea                    1
Sudan                     1
Trinidad and Tobago       1
Ghana                     1
Sudan (UK)                1
Name: country, Length: 76, dtype: int64

## Relative Frequency

In [6]:
print(df['country'].value_counts()/len(df)*100)

USA                    84.432481
France                  1.372813
Canada                  1.256169
Spain                   0.708838
Brazil                  0.699865
                         ...
Guinea                  0.008973
Sudan                   0.008973
Trinidad and Tobago     0.008973
Ghana                   0.008973
Sudan (UK)              0.008973
Name: country, Length: 76, dtype: float64

## Comulative Percentage

In [0]:
#print(100*df['country'].cumsum()/df['country'].sum())
#Requires RAM.